@import url("reset.css");

#header {
  height: 70px;
  background-color: antiquewhite;
}

.content-box {
  width: 960px;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
  background-color: #ff000040;
}

#visual {
  height: 171px;
  background-color: yellow;
}

#body {
  height: 300px;
  background-color: greenyellow;
}

#body>.content-box {
  display: flex;
}

#aside {
  width: 205px;
  height: inherit;
  background: red;
}

#main {
  width: 755px;
  height: inherit;
  background: rgb(240, 240, 45);
}

#footer {
  height: 100px;
  background-color: lightgray;
}
